// Imports will go here to import other component's style.
// This allows for sharing of global variables.
@import 'bourbon';
@import "./vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css";
@import "~components/hero/hero.scss";
@import "~components/home/home.scss";
@import "~common/navbar/navbar.scss";

html, body {
  background-color: #0B0B0C;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.navbar {
  padding-bottom: 0;
  background-color:   #060606;
  margin-bottom: 0;
  box-shadow:inset 0 2px 2px rgba(0,0,0,0.3);
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brands {
  color: whitesmoke;
}

#navbar {
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brands {
    color: whitesmoke;
  }
  ul.navbar-nav {
    li {
      a:hover {
        color: #00bc8c;
        background-color: #262626;
        box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.04) inset;
      }
    }
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.footer {
  position: fixed;
  background-color:   #060606;
  //position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  color:   #7A7A7A;
}


@import "./templates/home.scss";
@import "./templates/login.scss";
@import "./templates/register.scss";
@import "templates/logged";
@import "templates/app/viewInfo";
@import "templates/app/yourTopics";
@import "templates/app/news";
@import "templates/app/privacy";
@import "templates/app/choices";
@import "templates/app/cookies";
@import "templates/app/terms";
@import "templates/app/yourStuff";
@import "templates/app/editUser";
@import "templates/app/file";
@import "templates/info";
@import "./main.scss";
