
<div class="row row-eq-height" id="home">
    <div class="col-xs-5">
        <div class="vert-centered">
            <img src="./assets/mmm.png" id="imgLogo" class="img-responsive" style="background-color:transparent;">
        </div>
    </div>
    <div class="col-xs-7 divImages">
        <img src="./assets/mainF.png" id="logo-home" class="img-responsive" style="background-color:transparent;">
        <div>
            <h1>MovePatterns WebApp</h1>
            <h2>Computer Science, WIET AGH, 2016</h2>
            <a href="/#/login" class="myButton login">Login</a>
        </div>
    </div>
</div>
