#home {
  font-size: 2.5em;
  h1 {
    padding-top: 80px;
    padding-left: 80px;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
  }
  h2 {
    padding-bottom: 30px;
    padding-left: 80px;
    color: #000000;
  }

  #logo-home {
    background-color: white;
    padding-top: 75px;
  }
  #another{
    //margin-left: 80px;
    color : #BFAA8F;
    font-size: 0.55em;
    margin-left: 80px;
  }
}