<div class="row row-eq-height" id="login">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-6" style="padding-top: 10px;">
        <img src="./assets/t.png" id="imgLogo" class="img-responsive"
             style="background-color:transparent; width: 50%; height: auto; display:block; margin: 0 auto;">
    </div>
    <div class="col-xs-5 divImages"
         style="background-image:url('../assets/dash.png'); background-repeat:repeat; height:100vh;">
        <div id="plusInfo">
            <h2>MovePatterns WebApp</h2>
            <h3>Computer Science, WIET AGH, 2016</h3>
        </div>
    </div>
</div>

