<div class="row row-eq-height" id="login">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-6" style="padding-top: 30px;">
        <div class="col-xs-6" style="padding-top: 10px;">
            <img src="./assets/paulina.png" id="paulinaphoto" class="img-responsive"
                 style="background-color:transparent; width: 80%; height: auto; display:block; margin: 0 auto;">
            <p style="font-size: 1.3em;">Paulina Żak</p>
            <p>Analytics Module</p>
        </div>
        <div class="col-xs-6" style="padding-top: 10px;">
            <img src="./assets/iza.png" id="izaphoto" class="img-responsive"
                 style="background-color:transparent; width: 77%; height: auto; display:block; margin: 0 auto;">
            <p style="font-size: 1.3em;">Izabella Szlósarczyk</p>
            <p>Web Application</p>
        </div>
    </div>
    <div class="col-xs-5 divImages"
         style="background-image:url('../assets/dash.png'); background-repeat:repeat; height:100vh;">
        <div id="plusInfo">
            <img src="./assets/t.png" id="imgLogo" class="img-responsive"
                 style="background-color:transparent; width: 30%; height: auto; display:block; margin: 0 auto;">
            <h2>MovePatterns WebApp</h2>
            <h3>Computer Science, WIET AGH, 2016</h3>
            <p style="text-align: left; color: whitesmoke; padding-top: 30px;">Web application for generation patterns of behaviour of Virtual Patient users by using analytics algorithms.</p>
            <p style="text-align: left;"></p>
        </div>
    </div>
</div>

