<div class="col-md-12">
    <div class="row row-eq-height">
        <div class="col-md-2" style="background-color: #0F0F0F; height:100vh;">
            <h2 id="h21" style="background-color: #00bc8c; margin-bottom: 20px;"></h2>
            <h2 id="h21" style="background-color: #00bc8c; margin-bottom: 20px;"></h2>

            <div></div>
            <h2 id="h21"></h2>
            <div style="border-bottom: 2.5px solid #2F2933;"><p style="color: #B0B0B0; padding-bottom:20px; text-align:center;">Our stuff for you</p></div>
            <div class="list-group table-of-contents" id="mainMenu">
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/subscriptions">Your subscriptions</a></div>

                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;" > <a href="" ng-click="userDataViewCtrl.randomFile()">Random file!</a></div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/news">News!</a> </div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged">Upload file</a><br></div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/all">All files</a><br></div>
            </div>
        </div>

        <div class="col-md-7" ui-view id="infoMiddle" style=" height:100vh;">
            <div id="desc">
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;">
                    <p style="color: #B0B0B0" >PatternMoves WebApp Project</p>
                    <p style="color: seashell; font-size: 0.7em;" >Application for generating complex analyses of data from Virtual Patient Systems</p>
                </div>
                <div id="uploadFiles" style="color: #B0B0B0; border-bottom: 2px solid #1A1A1C; padding-top: 10px;">
                    <div class="col-md-10">
                        <p style="color: #B0B0B0; font-size: 0.85em; padding-top:10px;" >Upload some stuff - we will analyze for you</p>
                    </div>
                    <div class="col-md-2">
                        <img src="./assets/logom.png" class="img-responsive" style="background-color:transparent;display:block; margin: 0 auto;">
                    </div>
                    <table class="table" style="font-size: 55%; color:grey; text-align: left">
                        <thead>
                        <tr style="color:grey;">
                            <th width="25%"></th>
                            <th width="25%"></th>
                            <th width="25%"></th>
                            <th width="25%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="userDataViewCtrl.newFile" onchange="angular.element(this).scope().file_upload(this)" type="file" />
                            </td>
                            <td><p>CSV with data</p></td>
                            <td><input ng-model="userDataViewCtrl.newFile2" onchange="angular.element(this).scope().file_upload2(this)" type="file" />
                            </td>
                            <td><p>JSON with description</p></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="typeOfAnalysesSelect" id="analysesSelect" ng-model="userDataViewCtrl.analysesType" style="color: black">
                                    <option value="" disabled selected>analyses type</option>
                                    <option value="barChart">bar chart</option>
                                    <option value="dendo">dendogram</option>
                                    <option value="graph">graph</option>
                                    <option value="radial">radial</option>
                                    <option value="straight">straight graph</option>
                                    <option value="decision">decision tree</option>
                                    <option value="apriori">association rules</option>
                                </select><br>
                            </td>
                            <td>type of analyses</td>
                            <td>
                                <select name="typeSelect" id="typeSelect" ng-model="userDataViewCtrl.newFileType" style="color: black">
                                    <option value="" disabled selected>file type</option>
                                    <option value="labyrinth">labyrinth</option>
                                    <option value="multiple">multiple answers</option>
                                    <option value="simulation">simulation</option>
                                </select><br>
                            </td>
                            <td>type of uploaded files</td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="form-control" id="inputName" placeholder="Name of output file"  ng-model="userDataViewCtrl.fileName">
                    <button class="btn btn-success" ng-click="userDataViewCtrl.addNewFile()" style="margin-bottom: 20px;">Upload</button>
                </div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;">
                    <div class="col-md-5">
                        <p style="color: #B0B0B0; font-size: 0.85em; padding-top: 30%;" >Analyses we provide in application</p>
                    </div>
                    <div class="col-md-7">
                        <img src="./assets/analyses.png" class="img-responsive" style="background-color:transparent;display:block; margin: 0 auto;">
                    </div>
                    <table class="table" style="font-size: 70%; color:grey;">
                        <thead>
                        <tr style="color:grey;">
                            <th width="20%"></th>
                            <th width="20%"></th>
                            <th width="40%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><p>labirynth</p></td>
                            <td><p>dendogram</p></td>
                            <td><p>dengoram analyses description</p></td>
                        </tr>
                        <tr>
                            <td><p>labirynth</p></td>
                            <td><p>graph</p></td>
                            <td><p>graph analyses description</p></td>
                        </tr>
                        <tr>
                            <td><p>labirynth</p></td>
                            <td><p> straight graph</p></td>
                            <td><p>straight graph analyses description </p></td>
                        </tr>
                        <tr>
                            <td><p>multiple answers</p></td>
                            <td><p>association rules</p></td>
                            <td><p>association rules analyses description</p></td>
                        </tr>
                        <tr>
                            <td><p>labyrinth, simulations, multiple answers</p></td>
                            <td><p>bar chart</p></td>
                            <td><p>bar chart analyses description</p></td>
                        </tr>
                        <tr>
                            <td><p>labirynth</p></td>
                            <td><p>radial</p></td>
                            <td><p>radial analyses description</p></td>
                        </tr>
                        <tr>
                            <td><p>simulation</p></td>
                            <td><p>decision tree</p></td>
                            <td><p>decision tree analyses description </p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-2"  id="yourFiles" style="background-color: #0F0F0F; height:100vh;">
            <div style="border-bottom: 2.5px solid #2F2933; margin-top: 20px; padding-bottom:20px">
                <p style="color:#B0B0B0; text-align: center">Your uploaded <br> /saved files</p>
            </div>
            <!-- charts -> bar Charts, images -> graph, patterns -> dendo, cvs -> radial, others -> ? straight graphs
            -->
            <div style="text-align: center; padding-top:20px; padding-bottom: 20px;"><a  href="/#/logged/yourStuff">Your stuff</a></div>
            <div  style="text-align: center; padding-top:20px; padding-bottom:20px;"><p style="color:#B0B0B0;">By types of content</p></div>
            <div style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/charts" >Saved bar charts</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/images" style="text-align: center">Uploaded graphs</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/patterns" style="text-align: center">Saved dendograms</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/cvs">Uploaded radial graphs</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/others">Other / straight graphs</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/apriori">Association rules</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/decision">Decision tree</a></div>

        </div>

        <div class="col-md-2" id="uiV" style="background-image:url('../assets/dash.png'); background-repeat:repeat;">
            <img ng-src="{{userDataViewCtrl.avatar}}" id="photoUser" class="img-responsive">
            <form class="form-horizontal" id="informacje" style="padding-top: 50px;">
                <input type="text" style="border-top: 0.5px solid #1A1A1C; padding-top: 30px" class="field left" readonly id="input-name" placeholder="FirstName" ng-model="userDataViewCtrl.userData.firstName">
                <input type="text" class="field left" readonly id="input-surname" placeholder="Surname" ng-model="userDataViewCtrl.userData.lastName">
                <input type="text"  style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 30px" class="field left" readonly id="input-email" placeholder="Email" ng-model="userDataViewCtrl.userData.email">
                <div id="err_msg"><p>{{userDataViewCtrl.msg}}</p></div>
            </form>
             <a href="/#/logged/editUser"><button class="btn btn-success">Edit your data</button></a>
            <p class="text-muted"  id="fot"><a href="/#/logged/privacy">Privacy</a> · <a href="#/logged/terms">Terms</a> · <a href="#/logged/terms">Advertising</a> · <a href="#/logged/choices">Ad Choices</a> · <a href="#/logged/cookies">Cookies More</a> </p>
        </div>
    </div>
    <p style="visibility: hidden">tmptmp</p>
</div>
