#yourFiles{
  border-right: 3px solid #101012;
  a:hover, a:visited {
    text-decoration: none
  }
  text-align: center;
}

#fileNameInput,#fileTypeInput, #fileNameInput2{
    background-color: #FEFEFE;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    border: 0.5px solid #101012;
    font-size: 15px;
    //margin-left: 30px;
    //box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    //box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}
#typeSelect , #analysesSelect{
  background-color: #FEFEFE;
  -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
  box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
  border: 0.5px solid #101012;
  font-size: 15px;
}
input[type=file] {
  margin: 0 auto;
}

#type{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#mainMenu{
  a:hover, a:visited {
    text-decoration: none
  }
  text-align: center;
  //color: #3c3c3c;
}
#photoUser {
  border: 10px solid #262626;
  padding: 10px;
  background-color: transparent;
  height: auto!important
}

#PMLogo{
  padding-top: 10px;
  //max-height: 80%;
  //max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#desc{
  font-size: 150%;
  color: #1c1c1c;
  padding-top: 20px;
  text-align: center;
}

#photoUser{
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#h21 {
  font-size: 1.0em;
  padding-bottom: 20px;
}

#h12 {
  //padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 250px;
  font-size: 100%;
  color: #FFFFFF;
  //padding-top: 50px;
}

a.menu-label{
  background-color: #fff;
  text-align: center;
  color: #1c1c1c;
  -webkit-box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.14) inset;
  box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.14) inset;
  border: 0.5px solid #101012;
  //margin-left: 30px;
}


#ps{
  padding-top: 20px;
  opacity: 0.7;
}

#informacje{


  input, select {
    background: transparent;
    border: none;
    //margin-left: 30px;
    width: 150px;
    text-align: center;
    //box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    //box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);

  }
}


#userInfo {

  input {
    background-color: #FEFEFE;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    border: 0.5px solid #101012;
  }


  input, select {
    //margin-left: 30px;
    padding-top: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    //box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    //box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);

  }

  #b1 {
    //padding-left: 110px;
    padding-right: 120px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: auto;
    text-align: center;
  }

}
.myButton.editUser{
  max-width: 100px;
  max-height: 40px;
  font-size: 13px;
  display:block; margin: 0 auto;
}


#err_msg {
  p {
    font-size: 150%;
    color: red;
  }
}
#stat{
  text-align: center;
}

a{
  color:#7A7A7A;
}

#fot{
  padding-top: 10px;
  text-align: center;
  //position: bottom;
}

#editTextButton{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}


#inputName {
  background-color: #FEFEFE;
  -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
  box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
  border: 0.5px solid #101012;
}


#inputName {
  //margin-left: 30px;
  //padding-top: 20px;
  margin-top: 20px;
  width: 150px;
  //height: 35px;
  text-align: center;
  //box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  //box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);

}