<div class="col-md-12">
    <div class="row row-eq-height">
        <div class="col-md-2" style="background-color: #0F0F0F; height:100vh;">
            <h2 id="h21" style="background-color: #00bc8c; margin-bottom: 20px;"></h2>
            <h2 id="h21" style="background-color: #00bc8c; margin-bottom: 20px;"></h2>

            <div></div>
            <h2 id="h21"></h2>
            <div style="border-bottom: 2.5px solid #2F2933;"><p style="color: #B0B0B0; padding-bottom:20px; text-align:center;">Our stuff for you</p></div>
            <div class="list-group table-of-contents" id="mainMenu">
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/subscriptions">Your subscriptions</a></div>

                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;" > <a href="" ng-click="userDataViewCtrl.randomFile()">Random file!</a></div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/news">News!</a> </div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged">Upload file</a><br></div>
                <div style="border-bottom: 2px solid #1A1A1C; margin-top: 20px; padding-bottom: 20px;"> <a href="/#/logged/all">All files</a><br></div>
            </div>
        </div>

        <div class="col-md-7" ui-view id="infoMiddle" style=" height:100vh;">
            <div id="desc">
                <p style="color: #B0B0B0" >PatternMoves WebApp Project</p>
                <div id="uploadFiles" style="color: #B0B0B0">
                    <p style="padding-bottom: 10px;">Upload some stuff - we will analyze for you </p>
                    <div  class="col-md-6" id="uploading" style="font-size: 14px;">
                        <input ng-model="userDataViewCtrl.newFile" onchange="angular.element(this).scope().file_upload(this)" type="file" /><p>CSV with data</p>
                    </div>
                    <div class="col-md-6" id="uploading2" style="font-size: 14px;">
                        <input ng-model="userDataViewCtrl.newFile2" onchange="angular.element(this).scope().file_upload2(this)" type="file" /><p>JSON with description</p>
                    </div>
                    <div  class="col-md-6"  style="font-size: 14px; ">
                        <select name="typeOfAnalysesSelect" id="analysesSelect" ng-model="userDataViewCtrl.analysesType">
                            <option value="" disabled selected>analyses type</option>
                            <option value="barChart">bar chart</option>
                            <option value="dendo">dendogram</option>
                            <option value="graph">graph</option>
                            <option value="radial">radial</option>
                            <option value="straight">straight graph</option>
                        </select><br>
                    </div>
                    <div  class="col-md-6"  style="font-size: 14px; padding-bottom: 20px;">
                        <select name="typeSelect" id="typeSelect" ng-model="userDataViewCtrl.newFileType">
                            <option value="" disabled selected>file type</option>
                            <option value="labyrinth">labyrinth</option>
                            <option value="multiple">multiple answers</option>
                        </select><br>
                    </div>
                    <div style="padding-top: 20px;">
                        <div  class="col-md-6">
                            <p style="font-size: 14px">Name of output file</p>
                        </div>
                        <input class="form-control" id="inputName" placeholder="filename"  ng-model="userDataViewCtrl.fileName">
                    </div>
                    <button class="btn btn-success" ng-click="userDataViewCtrl.addNewFile()">Upload</button>

                    <div  class="col-md-6" id="graphs1" style="">
                        <img src="./assets/barcharts.png" class="img-responsive" style="background-color:transparent; width: 70%; height: auto; display:block; margin: 0 auto; padding-bottom: 20px;">
                        <img src="./assets/radial.png" class="img-responsive" style="background-color:transparent;width: 70%;  height: auto; display:block; margin: 0 auto;  padding-bottom: 20px;">
                    </div>
                    <div  class="col-md-6" id="graphs2" style="">
                        <img src="./assets/dendo" class="img-responsive" style="background-color:transparent;width: 70%;  height: auto; display:block; margin: 0 auto;  padding-bottom: 20px;">
                        <img src="./assets/straight.png" class="img-responsive" style="background-color:transparent;width: 70%; height: auto; display:block; margin: 0 auto;  padding-bottom: 20px;">
                        <img src="./assets/graph.png" class="img-responsive" style="background-color:transparent;width: 70%; height: auto; display:block; margin: 0 auto;  padding-bottom: 20px;">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"  id="yourFiles" style="background-color: #0F0F0F; height:100vh;">
            <div style="border-bottom: 2.5px solid #2F2933; margin-top: 20px; padding-bottom:20px">
                <p style="color:#B0B0B0; text-align: center">Your uploaded <br> /saved files</p>
            </div>
            <!-- charts -> bar Charts, images -> graph, patterns -> dendo, cvs -> radial, others -> ? straight graphs
            -->
            <div style="text-align: center; padding-top:20px; padding-bottom: 20px;"><a  href="/#/logged/yourStuff">Your stuff</a></div>
            <div  style="text-align: center; padding-top:20px; padding-bottom:20px;"><p style="color:#B0B0B0;">Types of content</p></div>
            <div style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/charts" >Saved bar charts</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/images" style="text-align: center">Uploaded graphs</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/patterns" style="text-align: center">Saved dendograms</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/cvs">Uploaded radial graphs</a></div>
            <div style="border-bottom: 0.5px solid #1A1A1C;  padding-bottom: 20px; margin-top: 20px; text-align: center"><a  href="/#/logged/others">Other / straight graphs</a></div>
        </div>

        <div class="col-md-2" id="uiV" style="background-image:url('../assets/dash.png'); background-repeat:repeat;">
            <img ng-src="{{userDataViewCtrl.avatar}}" id="photoUser" class="img-responsive">
            <form class="form-horizontal" id="informacje" style="padding-top: 50px;">
                <input type="text" style="border-top: 0.5px solid #1A1A1C; padding-top: 30px" class="field left" readonly id="input-name" placeholder="FirstName" ng-model="userDataViewCtrl.userData.firstName">
                <input type="text" class="field left" readonly id="input-surname" placeholder="Surname" ng-model="userDataViewCtrl.userData.lastName">
                <input type="text"  style="border-bottom: 0.5px solid #1A1A1C; padding-bottom: 30px" class="field left" readonly id="input-email" placeholder="Email" ng-model="userDataViewCtrl.userData.email">
                <div id="err_msg"><p>{{userDataViewCtrl.msg}}</p></div>
            </form>
            <div id="editTextButton">
                <a href="/#/logged/editUser"><img src="./assets/12b.png" width="34" height="auto" /></a><p style="color: #5e5e5e ; font-size: 10px">Edit your data</p>
            </div>
            <p class="text-muted"  id="fot"><a href="/#/logged/privacy">Privacy</a> · <a href="#/logged/terms">Terms</a> · <a href="#/logged/terms">Advertising</a> · <a href="#/logged/choices">Ad Choices</a> · <a href="#/logged/cookies">Cookies More</a> </p>
            <p class="text-muted" id="stat">Some stats! - <b>TUTAJ COS BEDZIE!</b></p>
        </div>
    </div>
    <p style="visibility: hidden">tmptmp</p>
</div>
