<div class="col-md-12">
    <div class="col-md-3">
        <img src="./assets/mmm.png"  id="PMLogo" class="img-responsive" style="background-color:transparent;">
        <h2 id="h21"></h2>
        <div class="list-group table-of-contents">
            <a class="list-group-item menu-label" href="/#/logged/yourTopics">Your subscriptions</a>
            <a class="list-group-item menu-label" href="/#/logged/viewInfo">View</a>
            <a class="list-group-item menu-label" href="/#/logged/news">News!</a>
            <a class="list-group-item menu-label" href="/#/logged/yourStuff">Your stuff</a>
        </div>
        <p class="text-muted"  id="fot"><a href="/#/logged/privacy">Privacy</a> · <a href="#/logged/terms">Terms</a> · <a href="#/logged/terms">Advertising</a> · <a href="#/logged/choices">Ad Choices</a> · <a href="#/logged/cookies">Cookies More</a> </p>
        <p class="text-muted" id="stat">Some stats! - <b>TUTAJ COS BEDZIE!</b></p>
    </div>
    <div class="col-md-6" ui-view>
        <p id="desc">PatternMoves WebApp</p>
    </div>
    <div class="col-md-3" id="uiV">
        <img src="./assets/rich.jpg" id="photoUser" class="img-responsive" style="background-color:transparent; drop-shadow(5px 5px 5px #222)">
        <form class="form-horizontal" id="informacje">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="field left" readonly id="input-name" placeholder="FirstName" ng-model="userDataViewCtrl.userData.name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="field left" readonly id="input-surname" placeholder="Surname" ng-model="userDataViewCtrl.userData.surname">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text"  class="field left" readonly id="input-email" placeholder="Email" ng-model="userDataViewCtrl.userData.email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <a href="/#/logged/editUser"><button class="myButton">Edit information</button></a>
                    </div>
                </div>
            </fieldset>
            <div id="err_msg"><p>{{userDataViewCtrl.msg}}</p></div>
        </form>
    </div>
    <p style="visibility: hidden">tmptmp</p>
</div>
