#login {
  text-align: center;
  background-color: #fff;
  //background-image: url("/app/assets/d.png");

  #loginH1 {
    //padding-left: 80px;
    font-weight: bolder;
    color: #6B2F2D;
  }
  #loginH2 {
    padding-bottom: 30px;
    //padding-left: 80px;
    color: #6B2F2D;
  }

  form {
    padding-top: 30px;
  }

  label{
    text-align: center;
  }

  input {
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    border: 1px solid #CBD5DD;
  }

  input[type=email] {
    margin-bottom: 10px;
  }

  .form-group {
    text-align: left;
  }

}


#err_msg {
  p{
    font-size:150%;
    color : red;
  }

}