<div class="row row-eq-height" id="login">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-6" style="padding-top: 10px;">
        <img src="./assets/t.png" id="imgLogo" class="img-responsive"
             style="background-color:transparent; width: 30%; height: auto; display:block; margin: 0 auto;">
        <div class="animate-switch-container"
             ng-switch="loginCtrl.token" id='err_msg'>
            <p ng-switch-when="WRONG_PASSWORD">You typed wrong password, try again</p>
            <p ng-switch-when="WRONG_EMAIL">User doesn't exist</p>
            <p ng-switch-default></p>
        </div>
        <p ng-if="loginCtrl.errorLogin" style="color: #CD3E3A; font-size: 25px">Wrong email or password!</p>
        <div class="form-group">
            <label for="inputEmail" class="control-label">E-mail:</label>
            <input class="form-control" id="inputEmail" placeholder="Email" type="email" ng-model="loginCtrl.email">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">Password:</label>
            <input class="form-control" id="inputPassword" placeholder="Password" type="password"
                   ng-model="loginCtrl.password">
        </div>
        <div class="form-group">
            <button href="#" class="btn btn-success" ng-click="loginCtrl.login()">Okej</button>
        </div>
    </div>
    <div class="col-xs-5 divImages"
         style="background-image:url('../assets/dash.png'); background-repeat:repeat; height:100vh;">
        <div id="plusInfo">
            <h2>MovePatterns WebApp</h2>
            <h3>Computer Science, WIET AGH, 2016</h3>
        </div>
    </div>
</div>

