<div class="row row-eq-height" id="register">
    <div class="col-xs-4">
    </div>
    <div style="background-image:url('../assets/dash.png'); background-repeat:repeat; height:100vh; padding-top: 50px;" class="col-xs-6">
        <h2 style="color:whitesmoke;font-weight: bold; padding-top: 100px;">Register, it is completely free!</h2>
        <div class="animate-switch-container"
             ng-switch="registerCtrl.err" id='err_msg'>
            <p ng-switch-when="WRONG_DATA">Niepoprawnie wpisałeś dane</p>
            <p ng-switch-when="WRONG_PASSWORD">Hasło, oraz powtórzone hasło muszą być takie same</p>
            <p ng-switch-when="USER_EXIST">Użytkownik już istnieje</p>
            <p ng-switch-default></p>
        </div>
        <div class="form-group">
                <input type="text" class="form-control" id="input-name" placeholder="Name"
                       ng-model="registerCtrl.name" required>
        </div>
        <div class="form-group">
                <input type="text" class="form-control" id="input-surname" placeholder="Surname"
                       ng-model="registerCtrl.surname" required>
        </div>
        <div class="form-group">
                <input type="email" class="form-control" id="input-email" placeholder="Email"
                       ng-model="registerCtrl.email" required>
        </div>
        <div class="form-group">
                <input type="password" class="form-control" id="input-password" placeholder="Password"
                       ng-model="registerCtrl.password" required>
        </div>
        <div class="form-group">
                <input type="password" class="form-control" id="input-password-again" placeholder="Password"
                       ng-model="registerCtrl.repeatedPassword" required>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" ng-click="registerCtrl.register()">
                    Register
                </button>
            </div>
        </div>
        <div class="col-xs-2">
    </div>
</div>