#register {
  text-align: center;
  button {
    display: inline-block;
  }
  #hreg3 {
    padding-bottom: 20px;
    //margin-left: 80px;
    font-weight: bold;
    color: #3c3c3c;
    font-size: 200%;
  }

  #hreg2{
    padding-top: 20px;
    font-size: 120%;
  }


  input {
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    border: 1px solid #CBD5DD;
    text-align: center;
  }

  label {
    padding-top: 5px;
  }

  #okButton{
    margin-top: 20px;
    display: block;
    margin-left: 250px;
    margin-right: auto;

  }

  #another2{
    padding-top: 20px;
  }

  .control-label{
    text-align: left;
    font-size: 0.7em;
  }
  #b1{
    margin-left: 70px;
    margin-top: 20px;
  }

  #b2{
    margin-top: 20px;
    margin-left: 50px;
  }

  .register{
    border-radius: 8px;
    font-size: 10px;
    padding-left: -10px;
  }
}