<div class="col-md-12" id="stuff">
    <div style="border-bottom: 0.5px solid #2F2933; padding-bottom: 30px;">
        <img src="./assets/wykres5a1.png" class="img-responsive" style="background-color:transparent;">
        <h1>Generated materials for your uploaded files</h1>
        <h1>CHARTS</h1>
    </div>
    <div ng-if="chartsCtrl.loading" style="text-align: center; transform: scale(2)">

    </div>
    <table class="table"  id="imageTable" ng-if="!chartsCtrl.loading" style="font-size: 70%; color:grey;">
        <thead>
        <tr id="labels" style="color:grey;">
            <th>.</th>
            <th>title</th>
            <th>comments</th>
            <th>rate</th>
            <th>date of creation</th>
            <th>view file</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="image in chartsCtrl.filesDetails">
            <td>{{$index+1}}</td>
            <td>{{image.title}}</td>
            <td><div ng-repeat="comment in image.comments" style="width: 250px">{{$index+1 + ' ' + comment +'\n'}}</div></td>
            <td>{{image.average}}</td>
            <td>{{image.creationDate}}</td>
            <td ><button class="btn btn-success" ng-click="chartsCtrl.viewFile(image)" id="view" >view</button></td>
            <td ><button class="btn btn-success" ng-click="chartsCtrl.deleteFromSubs(image)" id="deleteSub" >x</button></td>
        </tr>
        </tbody>
    </table>
</div>
