<div class="col-md-12" id="stuff">
    <h1>Generated materials for your uploaded files</h1>
    <h1>CVS</h1>
    <div ng-if="cvsCtrl.loading" style="text-align: center; transform: scale(2)">

    </div>
    <table class="table"  id="imageTable" ng-if="!cvsCtrl.loading" style="font-size: 70%; color:grey;">
        <thead>
        <tr id="labels" style="color:black;">
            <th>.</th>
            <th>title</th>
            <th>comments</th>
            <th>rate</th>
            <th>date of creation</th>
            <th>view file</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in cvsCtrl.filesDetails">
            <td>{{$index+1}}</td>
            <td>{{file.title}}</td>
            <td><div ng-repeat="comment in file.comments" style="width: 250px">{{$index+1 + ' ' + comment +'\n'}}</div></td>
            <td>{{file.average}}</td>
            <td>{{file.creationDate}}</td>
            <td ><button type="myButton" ng-click="cvsCtrl.viewFile(file)" id="view" style="color:black;">view</button></td>
            <td ><button type="myButton" ng-click="cvsCtrl.deleteFromSubs(file)" id="deleteSub" style="color:black">x</button></td>
        </tr>
        </tbody>
    </table>
</div>
