<div class="col-md-12" >
    <a href="/#/logged"><button class="btn btn-success" id="x" style="padding: 5px 10px; margin-right: auto">x</button></a>
    <p style="padding-top: 15px; color: dimgray">Here you can edit your profile data - like email, password, photos, </p>
    <p style="color: grey">For more information chceck our <a href="/#/logged/privacy">Privacy</a>/<a href="/#/logged/terms">Terms</a> Policy 27 october 2016</p>
    <form class="form-horizontal">
        <fieldset id="inputs">
            <div class="edit" style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="text"  class="field left" readonly id="input-name" placeholder="FirstName" ng-model="userDataEditCtrl.userData.firstName">
                    <input type="text" class="field right " id="input-nameEdit" placeholder="New FirstName" ng-model="userDataEditCtrl.userNewData.name">
                </div>
                <div class="form-group">
                    <input type="text"  class="field left" readonly id="input-surname" placeholder="Surname" ng-model="userDataEditCtrl.userData.lastName">
                    <input type="text" class="field left" id="input-surnameEdit" placeholder=" New Surname" ng-model="userDataEditCtrl.userNewData.surname">
                </div>
                <div class="form-group">
                    <input type="text"  class="field left" readonly id="input-email" placeholder="Email" ng-model="userDataEditCtrl.userData.email">
                    <input type="text"  class="field left"  id="input-emailEdit" placeholder="New Email" ng-model="userDataEditCtrl.userNewData.email">
                </div>
            </div>

            <div class="form-group edit" style=" padding-bottom: 20px">
                <input  class="field left"  id="input-password" type="password"  placeholder="Password">
                <input  class="field left"  id="input-passwordEdit" type="password" placeholder="Repeat Password" ng-model="userDataEditCtrl.userNewData.password">
            </div>
            <a href="/#/logged"><button class="btn btn-success" ng-click="userDataEditCtrl.editUser()" style="display:block; margin:0 auto;">Change</button></a>
            <div class="photoUpload edit" style="padding-bottom: 20px">

                <input ng-model="userDataEditCtrl.newImage" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" />
                <img data-ng-src="data:image/png;base64,{{userDataViewCtrl.$scope.newImage}}"  ng-show="userDataViewCtrl.$scope.newImage" id="photo-id"/>

                <a> <button class="btn btn-success" ng-click="userDataEditCtrl.getImage()">Change photo</button></a>
                <div>
                    <img ng-src="{{userDataViewCtrl.newImage}}" ng-show="userDataViewCtrl.newImage" class="img-responsive">
                </div>
            </div>
        </fieldset>
    </form>

</div>
