<div class="col-md-12" >
    <form class="form-horizontal" id="edit">
        <fieldset id="inputs">
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text"  class="field left" readonly id="input-name" placeholder="FirstName" ng-model="userDataViewCtrl.userData.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="field left" id="input-nameEdit" placeholder="New FirstName">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <a href="/#/logged"><button class="btn btn-success" id="b22FirstName">Change</button></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text"  class="field left" readonly id="input-surname" placeholder="Surname" ng-model="userDataViewCtrl.userData.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="field left" id="input-surnameEdit" placeholder=" New Surname">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <a href="/#/logged"><button class="btn btn-success" id="b22Surname">Change</button></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text"  class="field left" readonly id="input-email" placeholder="Email" ng-model="userDataViewCtrl.userData.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text"  class="field left"  id="input-emailEdit" placeholder="New Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <a href="/#/logged"><button class="btn btn-success" id="b22Email">Change</button></a>
                </div>
            </div>
        </fieldset>
</div>
