
#edit{

  margin-top:50px;
  #inputs{
    background-color: #F5F5FA;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.04) inset;
  }
  .myButton.changeButton {
    padding-top: 30px;
  }

  input {
    margin-top: 20px;
    margin-left: 40px;
    max-height: 100px;
    background-color: #FEFEFE;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.14) inset;
    border: 0.5px solid #CBD5DD;
  }

  #input-surname, #input-surnameEdit{
    display: inline-block;
  }

}