<div class="col-md-12" id="fileDetails">
    <div style="border-bottom: 1px solid #CBD5DD;" id="details">
        <a href="/#/logged"><button class="button" id="x" style="margin-right: auto">x</button></a>
        <h2 id="hFile">Chosen file details</h2>
        <div class="col-md-8">
            <p>Title: {{fileCtrl.fileDetails.title}}</p>
            <p>Average score : {{fileCtrl.fileDetails.average}}</p>
        </div>
        <div class="col-md-4" ng-if="!fileCtrl.flagIs">
            <a ng-click="fileCtrl.subscribe()"><img src="./assets/10a.png" class="img-responsive" style="background-color:transparent; max-width: 50px" /></a>
        </div>
        <div class="col-md-4" ng-if="fileCtrl.flagIs">
            <a ng-click="fileCtrl.delSubs()"><img src="./assets/10ab.png" class="img-responsive" style="background-color:transparent; max-width: 50px" /></a>
        </div>
    </div>
    <div id="content" ng-if="!fileCtrl.loading">
        <img ng-src="{{fileCtrl.content}}" class="img-responsive" ng-if="fileCtrl.flagType">
        <p ng-if="!fileCtrl.flagType">{{fileCtrl.content}}</p>
    </div>
    <div id="score" style="border-bottom: 1px solid #CBD5DD;">
        <p>Rate this file!</p>
        <button class="myButton score" ng-click="fileCtrl.addScore(1)">1</button>
        <button class="myButton score" ng-click="fileCtrl.addScore(2)">2</button>
        <button class="myButton score" ng-click="fileCtrl.addScore(3)">3</button>
        <button class="myButton score" ng-click="fileCtrl.addScore(4)">4</button>
        <button class="myButton score" ng-click="fileCtrl.addScore(5)">5</button>
    </div>
    <div id="comment" style="padding-top: 10px">
        <!--<p>Comments : {{fileCtrl.fileDetails.comments}}</p>-->
        <ul>
            <li ng-repeat="com in fileCtrl.fileDetails.comments" style=" font-size: 10px;">{{com}}</li>
        </ul>

        <input class="form-control" id="inputComment" placeholder="write a comment"  ng-model="fileCtrl.comment">
        <button class="commentButton" ng-click="fileCtrl.addComment()">add comment</button>
    </div>
</div>
