<div class="col-md-12" id="fileDetails">
    <div style="border-bottom: 1px solid #CBD5DD;" id="details">
        <a href="/#/logged"><button class="btn btn-success" id="x" style="margin-right: auto">x</button></a>
        <h2 id="hFile">Chosen file details</h2>
        <div class="col-md-8">
            <p>Title: {{fileCtrl.fileDetails.title}}</p>
            <p>Average score : {{fileCtrl.fileDetails.average}}</p>
        </div>
        <div class="col-md-4" ng-if="!fileCtrl.flagIs">
            <p>delete subscription!</p>
            <a ng-click="fileCtrl.subscribe()"><img src="./assets/10a.png" class="img-responsive" style="background-color:transparent; max-width: 50px" /></a>
        </div>
        <div class="col-md-4" ng-if="fileCtrl.flagIs">
            <p>delete subscription!</p>
            <a ng-click="fileCtrl.delSubs()"><img src="./assets/10ab.png" class="img-responsive" style="background-color:transparent; max-width: 50px" /></a>
        </div>
    </div>

    <div id="contentApriori" ng-if="fileCtrl.flagApriori">
        <p>Description {{fileCtrl.jsonToVisualisation.file.description}}</p>
        <p>Question {{fileCtrl.jsonToVisualisation.file.question}}</p>
        <p>All answers {{fileCtrl.jsonToVisualisation.file.answers}}</p>
        <p>Correct answers {{fileCtrl.jsonToVisualisation.file.correct}}</p>
        <table class="table"  id="aprioriTable" style="font-size: 70%; color:grey;">
            <thead>
            <tr id="labels" style="color:lightgrey;">
                <th>.</th>
                <th>items base</th>
                <th>items add</th>
                <th>confidence</th>
                <th>lift</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rule in fileCtrl.jsonToVisualisation.file.rules">
                <td>{{$index+1}}</td>
                <td>{{rule["items_base"]}}</td>
                <td>{{rule["items_add"]}}</td>
                <td>{{rule["confidence"]}}</td>
                <td>{{rule["lift"]}}</td>
            </tr>
            </tbody>
        </table>
        <!--<img ng-src="{{fileCtrl.content}}" class="img-responsive" ng-if="fileCtrl.flagType">-->
        <!--<p ng-if="!fileCtrl.flagType">{{fileCtrl.content}}</p>-->
        <!--<input class="form-control" id="inputName" placeholder="Name of output file"  ng-model="fileCtrl.jsonToVisualisation">-->


        <!--&lt;!&ndash; TUTAJ JEST DIV DLA TYCH INTERAKTYWNYCH KTORE CHCESZ GENEROWAC NA BIEZACO&ndash;&gt;-->
        <!--<div ng-if="fileCtrl.flagInteractive">-->

    </div>


    <div id="contentDecision" ng-if="fileCtrl.flagDecision">
        <p>Description: {{fileCtrl.jsonToVisualisation.file.description}}</p>
        <p>Question: {{fileCtrl.jsonToVisualisation.file.question}}</p>
        <!--<p>All answers: {{fileCtrl.jsonToVisualisation.file.answers}}</p>-->
        <p>All answers:</p>
        <ul>
            <li ng-repeat="com in fileCtrl.jsonToVisualisation.file.answers" style=" font-size: 15px;">{{com}}</li>
        </ul>
        <p>Examination:</p>
        <!--<p>Examination: {{fileCtrl.jsonToVisualisation.file.examination}}</p>-->
        <ul>
            <li ng-repeat="com in fileCtrl.jsonToVisualisation.file.examination" style=" font-size: 15px;">{{com}}</li>
        </ul>
        <p>Correct answers: {{fileCtrl.jsonToVisualisation.file.correct}}</p>

        <img data-ng-src="data:image/png;base64,{{fileCtrl.jsonToVisualisation.file.file}}"  id="imageDecision"/>


    </div>
    <div id="score" style="border-bottom: 1px solid #CBD5DD;">
        <p>Rate this file!</p>
        <button class="btn btn-success score" ng-click="fileCtrl.addScore(1)">1</button>
        <button class="btn btn-success score" ng-click="fileCtrl.addScore(2)">2</button>
        <button class="btn btn-success score" ng-click="fileCtrl.addScore(3)">3</button>
        <button class="btn btn-success score" ng-click="fileCtrl.addScore(4)">4</button>
        <button class="btn btn-success score" ng-click="fileCtrl.addScore(5)">5</button>
    </div>
    <div id="comment" style="padding-top: 10px">
        <!--<p>Comments : {{fileCtrl.fileDetails.comments}}</p>-->
        <ul>
            <li ng-repeat="com in fileCtrl.fileDetails.comments" style=" font-size: 15px;">{{com}}</li>
        </ul>

        <input class="form-control" id="inputComment" placeholder="write a comment"  ng-model="fileCtrl.comment">
        <button class="btn btn-success" ng-click="fileCtrl.addComment()">add comment</button>
    </div>
    <div id="d3ContainerDivID">
    </div>


    <div id="barChart"></div>

    <div id="dendo"></div>

    <div id="graph"></div>

    <div id="radial"></div>

    <div id="straight"></div>

</div>
