<div class="col-md-12" id="stuff">
    <div class="col-md-6" style="color:#B0B0B0;">
        <h4 style="padding-top: 10px; ">Generated materials</h4>
        <h4>for your uploaded files</h4>
        <div ng-if="imagesViewCtrl.loading" style="text-align: center; transform: scale(2)">

        </div>
    </div>
    <div class="col-md-5">
        <img src="./assets/graph.png" class="img-responsive" style="background-color:transparent;">
    </div>
    <table class="table"  id="imageTable" ng-if="!imagesCtrl.loading" style="font-size: 70%; color:grey;">
        <thead>
        <tr id="labels" style="color:black;">
            <th>.</th>
            <th>title</th>
            <th>comments</th>
            <th>rate</th>
            <th>date of creation</th>
            <th>view file</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="image in imagesCtrl.filesDetails">
            <td>{{$index+1}}</td>
            <td>{{image.title}}</td>
            <td><div ng-repeat="comment in image.comments" style="width: 250px">{{$index+1 + ' ' + comment +'\n'}}</div></td>
            <td>{{image.average}}</td>
            <td>{{image.creationDate}}</td>
            <td ><button class="btn btn-success" ng-click="imagesCtrl.viewFile(image)" id="view" style="color:black;">view</button></td>
            <td ><button class="btn btn-success" ng-click="imagesCtrl.deleteFromSubs(image)" id="deleteSub" style="color:black">x</button></td>
        </tr>
        </tbody>
    </table>
</div>
