<div class="col-md-12" id="stuff">
    <h1>Generated materials for your uploaded files</h1>
    <h1>IMAGES</h1>
    <table class="table table-striped table-hover" id="content">
        <thead>
        <tr id="labels">
            <th>.</th>
            <th>content</th>
            <th>comments</th>
            <th>rate</th>
            <th>delete from subscription</th>
            <th>view file</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="image in imagesCtrl.userData.savedFiles"  id="viewOffers">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td>{{offer.ownerName + ' ' + offer.ownerSurname}}</td>-->
            <!--<td>{{offer.ownerMail}}</td>-->
            <!--<td>{{offer.subject}}</td>-->
            <!--<td><div style="width: 100px">{{offer.term.day + ' ' + offer.term.start + '-'+offer.term.end+ ' ' + offer.term.teacher }}</div></td>-->
            <!--<td><div ng-repeat="preferredTerm in offer.preferredTerms" style="width: 250px">{{$index+1 + ' ' + preferredTerm.day + ' ' + preferredTerm.start+'-'+preferredTerm.end + ' ' + preferredTerm.teacher+'\n'}}</div></td>-->
            <!--<td ng-hide="offersViewCtrl.hideButton(offer)"><button type="submit" ng-click="offersViewCtrl.acceptOffer(offer)" id="accept">Akceptuj</button></td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>