<div class="col-md-12">
    <table class="table table-striped table-hover" id="content1" ng-if="!offersViewCtrl.loading">
        <thead>
        <tr id="labels2">
            <th>.</th>
            <th>topic</th>
            <th>information</th>
            <th>new info</th>
        </tr>
        </thead>
        <tbody>
        <tr id="viewOffers">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        <tr id="viewOffers2">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        <tr id="viewOffers3">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        <tr id="viewOffers4">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        <tr id="viewOffers5">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        <tr id="viewOffers6">
            <td>.</td>
            <td>topic</td>
            <td>information</td>
            <td>4</td>
            <td><button  class="btn btn-success" id="accept">news</button></td>
        </tr>
        </tbody>
    </table>
</div>
