<div class="col-md-12" id="stuff">
    <a href="/#/logged"><button class="btn btn-success" id="x" style="padding: 5px 10px; margin-right: auto">x</button></a>
    <div class="col-md-8" style="color:#B0B0B0;">
        <h4 style="padding-top: 10px; ">Generated materials</h4>
        <h4>your subscriptions</h4>
        <div ng-if="patternsCtrl.loading" style="text-align: center; transform: scale(2)">

        </div>
    </div>
    </div>
    <table class="table"  id="imageTable" ng-if="!subsCtrl.loading" style="font-size: 70%; color:grey;">
        <thead>
        <tr id="labels" style="color:lightgrey;">
            <th>.</th>
            <th>title</th>
            <th>comments</th>
            <th>rate</th>
            <th>date of creation</th>
            <th>view file</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in subsCtrl.filesDetails">
            <td>{{$index+1}}</td>
            <td>{{file.title}}</td>
            <td><div ng-repeat="comment in file.comments" style="width: 250px">{{$index+1 + ' ' + comment +'\n'}}</div></td>
            <td>{{file.average}}</td>
            <td>{{file.creationDate.year + ":"+ file.creationDate.monthValue + ":" + file.creationDate.dayOfMonth}}</td>
            <td ><button class="btn btn-success" ng-click="subsCtrl.viewFile(file)" id="view" >view</button></td>
            <td ><button class="btn btn-success" ng-click="subsCtrl.deleteFromSubs(file)" id="deleteSub" >x</button></td>
        </tr>
        </tbody>
    </table>
    <div ng-if="!subsCtrl.loading" >
        <div ng-if="subsCtrl.empty">
            <p style="color: #CD3E3A; font-size: 25px; text-align: center;">We are sorry =(</p>
            <p style="color: #CD3E3A; font-size: 15px; text-align: center;">Nothing to show, nothing uploaded in this type</p>

        </div>
    </div>
</div>
