#stuff{
  h1{
    color: #BFAA8F;
    font-size: 170%;
    text-align: center;
  }
  #patterns,#charts,#files{
    background-color: #1C1C1C;
    text-align: center;
  }
  #patterns {
    #patt, #viewButton {
      display: inline-block;
    }
    #viewButton{
      margin-left: 40px;
      background-color: #BFAA8F;
      border-color: #BFAA8F;
      color: #1c1c1c;
    }
    margin-top: 20px;
  }
  #charts {
    #ch, #viewButton2 {
      display: inline-block;
    }
    #viewButton2{
      margin-left: 40px;
      background-color: #BFAA8F;
      border-color: #BFAA8F;
      color: #1c1c1c;
    }
    margin-top: 20px;
  }
  #files{
    #fi, #viewButton3 {
      display: inline-block;
    }
    #viewButton3{
      margin-left: 60px;
      background-color: #BFAA8F;
      border-color: #BFAA8F;
      color: #1c1c1c;
    }
    margin-top: 20px;
  }
}