<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#1c1c1c;">
                <!--<img src="./assets/mmm.png" class="img-circle" id="logo"/> MovePatternApp -->
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/info">Information</a></li>
                <li ng-if="!navBarCtrl.logged"><a href="/#/login">Login</a></li>
                <li ng-if="navBarCtrl.logged"><a ng-click="navBarCtrl.logout">Logout</a></li>
                <li><a href="/#/register">Register</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
